/* 
    Created on : Mar 12, 2017, 2:43:58 PM
    Author     : wim
*/


.card{
    -fx-border-color:  derive(#85BEB8,-50%);
    -fx-border-radius: 5;
}

.cardTop{
    -fx-background-color: #85BEB8;
    -fx-background-radius: 5 5 0 0;
}


.detailbutton{
    -fx-background-color: #85BEB8;
}

.cardBottom{
    -fx-background-color:rgba(220, 220, 220, 0.50);
    -fx-background-radius: 0 0 5 5;
}

.resultLabelPositive{
    -fx-text-fill:derive(green,20%);
}

.resultLabelNegative{
    -fx-text-fill:derive(red,20%);
}