/* 
    Created on : Mar 12, 2017, 2:43:58 PM
    Author     : wim
*/


.card{
    -fx-border-color:  derive(#85BEB8,-50%);
    -fx-border-radius: 5;
}

.cardTop{
    -fx-background-color: #337AB7;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}


.detailbutton{
    -fx-background-color: #337AB7;
}

.kostbaatbox{
    -fx-border-color: black;
}

.kostbaatboxkost{
    -fx-background-color: #FF6666;

}

.kostbaatboxbaat{
    -fx-background-color: #9FDF9F;
}

.cardBottom{
    -fx-background-color:rgba(220, 220, 220, 0.50);
    -fx-background-radius: 0 0 5 5;
}

.resultBox{
    -fx-border-color: black;
    -fx-border-width: 1 0 0 0;
}

.resultBoxNegative{
    -fx-background-color: #337AB7;
}

.resultBoxPositive{
    -fx-background-color: #9FDF9F;
}