/* 
    Created on : Mar 9, 2017, 1:39:34 PM
    Author     : wim
*/

.goBackButton{
    -fx-background-color: rgba(0, 0, 255, 0.5);
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.titleLabel{
    -fx-font: 32px "System";
    -fx-text-fill: #337AB7;
}

.textlabel{
    -fx-font-size: 22px;
    -fx-text-fill: derive(#337AB7,10%);
}

.saveButton{
    -fx-background-color: rgba(0, 128, 0, 0.8);
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.textfieldIncorrect{
    -fx-border-color: red;
}