/* 
    Created on : Mar 6, 2017, 3:32:18 PM
    Author     : wim
*/

.topbar{
    -fx-background-color:  #337AB7;
}

.sidebar{
    -fx-background-color: #DDDBDD;
}

.sidebarbutton{
    -fx-background-color: #DDDBDD;
}
.sidebarbutton:hover{
    -fx-background-color: white;
}

.centerScreenLabel{
    -fx-font: 32px "System";
    -fx-text-fill: derive(#337AB7,10%);
}

.menu{
    -fx-background-color:  white;

}
.menu-button{
    -fx-background-color:  white;
    -fx-text-fill: #337AB7;
}
.menu-button .label {
    -fx-text-fill: #337AB7;
    -fx-font-size:16px;
}
.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: derive(#337AB7,40%)
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: derive(#337AB7,10%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}