
.loginBtn{

    -fx-background-color: derive(#337AB7,10%);
    -fx-background-insets: 0;
    -fx-text-fill: white;

}

.topbar{
    -fx-background-color: #337AB7; 
}
.bottombar{
    -fx-background-color: #F5F5F5;
}